################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/utilities/olcUTIL_AffineView.h
/utilities/olcUTIL_Maths.h
/utilities/olcUTIL_GameMode.h
/utilities/olcUTIL_Sparkles.h
